.order-page {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
}

.order-page__left {
    width: 70%;
}

.order-page__right {
    width: 27%;
    font-size: 18px;
    font-weight: bold;
}

.btn {
    padding: 10px;
}