.edit-page {
  padding: 0px 50px 0px 50px;
}

.edit-page__content {
    display: flex;
}

.edit-page__left {
    width: 70%;
}

.edit-page__right {
    width: 30%;
}

.edit-page__buy-game {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.btnz {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
  }
  .btns {
    background: rgb(162, 0, 203);
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 12px 36px;
  }
  .btns:hover {
    background: #5c006a;
  }
  .btns:active {
    background: #5c006a;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
  }
  .btn--inside {
    margin-left: -96px;
  }
  
  .form__field {
    width: 360px;
    background: #293642;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
  }

  .form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    grid-auto-rows: 100px;
  }

#delete {
    margin-left: 0px;
}


.form {
    margin-top: 50px;
}

  .form h1 {
    font-size: 25px;
    margin-top: 20px;
  }

  .form input {
    width: 550px;
    margin: 5px;
  }

  .form button {
    margin: 5px;
  }