.game-page {
    padding: 0px 50px 0px 50px;
}

.game-page__content {
    display: flex;
}

.game-page__left {
    width: 60%;
    margin-top: 30px;
}

.game-page__right {
    width: 40%;
}

.game-page__buy-game {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.carousel {
    width: 70%;
}

.similar {
    margin-top: 80px;
}

.comments {
    margin-top: 30px;
}